.menu {
    display: flex;
  }
  
  .menu li {
    margin: 0 10px;
  }
  
  .hamburger-menu {
    display: none;
  }
  
  @media screen and (max-width: 700px) {
    .menu {
      display: none;
    }
  
    .hamburger-menu {
        font-size: 24px;
        font-weight: bold;
      display: block;
      cursor: pointer;
    }
  
    .mobile-nav {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px;
      right: 0;
      background-color: #333;
      width: 200px;
      z-index: 1000;
    }
  
    .mobile-nav.active {
      display: flex;
    }
  
    .mobile-nav a {
      color: white;
      text-decoration: none;
      padding: 10px;
      border-bottom: 1px solid #444;
    }
  
    .mobile-nav a:hover {
      background-color: #555;
    }
  }
